# Ignorar arquivos de ambiente
pipeline_Airflow/.env

# Ignorar logs
pipeline_Airflow/logs/

# Ignorar volumes de banco de dados
fhir-db-data/
postgres-db-volume/

# Ignorar cache do Python
__pycache__/
*.pyc